* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}



/* ------------------- CSS reset end ------------------------ */

body {
    font-family: 'Merriweather', serif;
}

section {
    min-height: 100vh;
}

/* .input  {
    border: solid 3px black
} */

section.image-holder img{
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

section.image-holder {
    height: 100vh;
    overflow: hidden;
}

/* section.background-holder {
    padding: 20px;
    background-clip: content-box;
    background-image: url("bringa.jpg");
    background-size: 200px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
} */

#welcome button {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    margin: 40px 0;
    background-color: #a1430d ;
    transform: translateX(-50%)

}

#welcome h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 100px;
    color: white;
}

#about {
    background-color: #a85609b7;
    min-height: unset;
}

#about article {
    width: 100%;
    max-width: 400px;
    padding: 80px 20px;
    margin: 0px auto;
}

#about h2 {
    padding-bottom: 20px;
}

#services {
    padding: 80px 0;
    background-image: url(https://images.pexels.com/photos/5876801/pexels-photo-5876801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
}

#services ul {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0px auto;
    list-style: none;
    background-color: rgb(255, 255, 255, 0.6);
}

#services ul li {
    padding-bottom: 10px;
}

#services ul li h2,
#services ul li p {
    text-align: center;
}

#contact {
    background-color:#3e4a2cd7
}

#contact form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
}

#contact input, 
#contact label {
    display: block;
    width: 100%;
}

#contact label {
    font-size: 12px;
    padding-bottom: 10px;
}

#contact input {
    height: 60px;
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: white;
}

#contact button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #504621;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
